{% extends 'layouts/base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
    <h1>Listado de productos</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Gaseosa</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Galletas</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
